<h1>{{cities.title}}</h1>
<h2>Cities Details: {{title}}</h2>

<li>
    <div class="borderDetails">
        <span class="borderDetails"> <img src="/images/{{imageUrl}}"> <br/></span>
    </div>
</li>

<h3>Title:</h3>
<p>{{this.title}}</p>

<h3>Description:</h3>
<p>{{this.description}}</p>

<h3>Rating:</h3>
<p>{{this.rating}}</p>


<h3>Population:</h3>
<p>{{this.population}}</p>

<h3>Season:</h3>
<p>{{this.season}}</p>


<a href="/cities">Back</a>