<body>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="my-4">
                <p class="display-6 font-size: 20px; font-weight-bold; text-primary text-sm"
                    style="white-space: nowrap;">Cities in Germany</p>
            </div>
        </div>
    </div>

<div class="container mt-5">
    <div class="row">
        {{#if cities}}
        {{#each cities}}
        <div class="col-md-4">
            <div class="list-group-item">
                <h2>{{this.title}}</h2>
                <img src="{{imageUrl}}" alt="{{this.title}}" width="300" height="300">
                <div class="row">
                    <div class="col-md-8">
                        <div class="btn-group" role="group" aria-label="Actions">
                            <form action="/cities/{{this._id}}/delete" method="POST">
                                <button type="submit" class="btn btn-outline-danger" name="delete">Delete</button>
                            </form>
                            <form action="/cities/{{this._id}}/edit">
                                <button type="submit" class="btn btn-outline-success" name="update">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="col-md-12">
            <p>No created cities.</p>
        </div>
        {{/if}}
    </div>
</div>

</body>