<h2>Edit the Cities: {{cities.title}}</h2>


<form method="POST" action="/cities/{{cities._id}}/edit">
    <label> Title:
        <input type="text" name="title" value="{{cities.title}}" />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4">{{cities.description}}</textarea>
    </label>

    <label> Rate:
        <input type="number" name="rating" value="{{cities.rating}}" />
    </label>

    <label for="imageUrl">Image: {{cities.imageUrl}}</label>
    <input type="file" id="imageUrl" name="imageUrl" value="{{cities.imageUrl}}">

    <label> Population:
        <input type="number" name="population" value="{{cities.population}}" />
    </label>

    <label for="season"> Season:
        <select id="seasons" value="{{cities.season}}">
            <option label="Winter">Winter</option>
            <option label="Spring">Spring</option>
            <option label="Summer">Summer</option>
            <option label="Autumn">Autumn</option>
        </select>
    </label>

    <button>Save changes</button>
</form>