<section class="cities-container">
    <h1>Cities in Germany</h1>

    <div class="cities-summary">
        <ul class="city-list">
            {{#each cities}}
            <li class="city">
                <h2>{{this.title}}</h2>
                <div class="city-details">
                    <div class="border">
                        <span class="border">
                            <img src="/images/{{this.imageUrl}}" alt="{{this.title}} Image">
                        </span>
                    </div>
                    <!--<span class="bold-text">Description: </span> {{this.description}} </br> -->
                    <p>Rating: {{this.rating}}</p>
                    <p>Population: {{this.population}}</p>
                    <p>Season: {{this.season}}</p>
                    <p><a href="/cities/{{this._id}}">More details </a> |  <a href="/cities/{{this._id}}/edit">Edit</a></p>
                    <form action="/cities/{{this._id}}/delete" method="POST">
                        <button>Delete</button>
                    </form>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
